.adminpage{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
}

.adminpage__wrapper{
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.adminpage__header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid lightgray;
}

.adminpage__messages{
    padding:0.5rem 0;
}

.adminpage__message{
    margin: 1rem 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 3px;
    box-shadow:0px 5px 15px 0px rgba(50, 50, 50, 0.2);
    width: 100%;
    transition: all 0.3s ease;
}

.adminpage__messageHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}