*{ margin: 0; box-sizing: border-box; }
html{ scroll-behavior: smooth; }
body{
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: whitesmoke;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a,label,input[text],textarea,button{
    font-family: Roboto,-apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --navColor: darkslategrey;
    --navBackground: #D7DBDD;
    --barColor: #34495E;
    --greetingTextColor:rgb(248, 63, 100);
    --nameTextColor:#34495E;
}