.navbar{
    width: 100%;
    padding:0.5rem 1rem;
    background-color: #f4f4f4;
    transition: all 0.3s ease;
    position: sticky;
    top: 0;
    z-index: 5;
}

.shadow{
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.33);
}

.navbar__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo{
    width: 2rem;
    height: 2rem;
}